$day-width: 25px;

@mixin day-types {
    &.type_8 {
        span:before{
            font-size: 8pt;
        };
    }
}

body {
    color: #004e4e;
    width: 900px;
    margin: 0 auto;
    background-color: silver;
    font-family: Consolas, monospace;
    position: relative;
}

.auth_info {
    text-align: right;
    color: #005200;
}

#footer {
    text-align: center;
    color: firebrick;

    a{
        text-decoration: none;

        &:hover {
            color: black;
        }

        img {
            width: 32px;
        }
    }
}

table.month {
    border-collapse: collapse;

    td {
        border: 1px solid black;
        width: $day-width;
        text-align: center;


        &.clickable {
            background-color: white;

            &.weekend {
                background-color: yellow;
            }

            @include day-types;
        }



    }
}

.agenda_li {

    &:hover {
        background-color: #fbfaef;
    }

    .agenda_box {
        display: inline-block;
        width: $day-width;
        text-align: center;
        border: 1px solid black;

        span:before {
            content: "\00a0";
        }

        @include day-types;
    }

}

#toolbox {
    position: absolute;
    right: 30px;
    top: 30px;
    border: 1px solid darkslateblue;
    padding: 3px 5px;
    width: 800px;
    background-color: #f4f3af;

    h2 {
        margin: 3px 0 0;
    }

    .float_left {
        float: left;

        ul {
            margin: 0;

            li {
                list-style-type: none;
            }
        }
    }

    .calendar-wrapper {

        padding: 3px 5px;
        background-color: #f4df84;
        border: 1px solid #f4c068;

        position: absolute;
        z-index: 2;
        top: 30px;

        .calendar-close-button {
            display: none;

            &.isCalendarShown {
                display: inline;
            }
        }
    }
}

@mixin selectedDay {
    border-color: red;
    background-color: indianred;
    color: wheat;
}

.team {

    //margin-top: 100px;

    .header_month {
        td {
            color: #000000;
            opacity: 0.5;
        }
    }

    .employee {
        margin: 10px 0;

        .name {
            font-size: 14pt;
            color: black;
            font-weight: bold;
        }

        .month_title {
            display: none;
        }

        table.month {
            td.clickable {
                cursor: pointer;

                &.checked_day {
                    @include selectedDay;
                }
            }
        }
    }
}

.Basis-Calendar {
    .Basis-Calendar-Section-Month {
        .Basis-Calendar-Node {
            &.holiday {
                background: red;
                color: white;
            }
        }
    }
}

//#placeHolder {
//    .Basis-Calendar-ButtonPrevPeriod,
//    .Basis-Calendar-ButtonNextPeriod {
//        display: none;
//    }
//}

#page {
    margin-top: 100px;

    background-color: #f4eee3;
    border: 1px solid #debdad;
    padding: 5px 10px;
    min-height: 40px;

    .form {
        margin: 5px auto;
        background-color: #faf4e9;
        border: 1px solid #ede7dc;
        padding: 5px 10px;

        .Basis-Field {
            margin: 5px 0;
        }

        input[type=text], input[type=password] {
            width: 100%;
        }
    }
}

.page-unselected {
    display: none;
}

.days-list {
    .month {

        clear: both;

        .day {
            background-color: #fff;
            border: 1px solid #000;
            text-align: center;
            width: 25px;
            float: left;
            cursor: pointer;

            &.isWeekend {
                background-color: yellow;
            }

            &.isHoliday {
                background-color: red;
                color: white;
            }

            &.checked_day,
            &.isChecked {
                @include selectedDay;
            }
        }

    }

}

.clearfix {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.login-form {
    background-color: #f4f3af;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

.aright {text-align: right;}
.acenter {text-align: center;}

.Basis-Tree {
    li.selection-red {
        span{
            color: red;
        }
    }
}

.report {
    width: 100%;
    border-collapse: collapse;

    td {
        border: 1px solid #747357;
        padding: 1px 3px;
    }
}

.agenda {
    ul {
        list-style-type: none;
    }
}