/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/app/cache
/var/cache
/var/logs
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bower_components/
!bin/console
!bin/symfony_requirements
/composer.phar
/.idea/
/node_modules/
iisnode.yml
/iisnode