<configuration>
    <system.webServer>

        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="myapp">
                    <match url="/*" />
                    <action type="Rewrite" url="index.js" />
                </rule>
            </rules>
        </rewrite>

        <defaultDocument>
            <files>
                <add value="index.js" />
            </files>
        </defaultDocument>

    </system.webServer>
</configuration>