<div>
    <div class="month_title">
        <p>{name} - {year}</p>
        <p>working scheme: 5/2</p>
        <p>working days: {workingDays}</p>
    </div>
    <table class="month">
        <tbody>
            <tr{childNodesElement}/>
        </tbody>
    </table>
</div>