body {
    color: darkcyan;
    width: 300px;
    margin: 0 auto;
    background-color: silver;
}

.auth_info {
    text-align: right;
    color: green;
}

#footer {
    text-align: center;
    color: firebrick;
}