<b:define name="selected" type="bool"/>
<b:define name="isHoliday" type="bool"/>
<b:define name="isWeekend" type="bool"/>
<b:define name="isChecked" type="bool"/>

<div class="day {selected} {isHoliday} {isWeekend} {isChecked}" event-click="select">
    {title}
</div>