<div>
    <p>You are currently logged in as <span id="username">{loggedInAs}</span></p>
    <p class="lead">Say something worthwhile here.</p>


    <div style="display:{loginDisplay};">
        <!--{username}-->
        <!--{password}-->
        <!--{button}-->
    </div>

</div>