<div class="form">
    <h3>Team form</h3>
    <div{childNodesElement}/>
    <div class="aright">
        <!--{submitButton}-->
        &nbsp;
        <!--{addEmployeeButton}-->
        &nbsp;
        <!--{addUserButton}-->
    </div>
</div>