<table class="maternity-leaves">
    <caption>Maternity leaves (format: "YYYY-MM-DD")</caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>Date of start</th>
            <th>Date of end</th>
        </tr>
    </thead>
    <tbody{childNodesElement}/>
    <tbody>
        <tr>
            <td colspan="3" class="aright">
                {addButton}
            </td>
        </tr>
    </tbody>
</table>