<div>
    <div id="sidebar">
        <!--{calendar}-->
    </div>
    <div class="float_left">
        <!--{buttonPublicHolidays}-->
    </div>
    <div class="float_left">
        <!--{buttonAdmin}-->
    </div>
    <div id="content">
        <!--{teamsList}-->
    </div>
</div>