extends ./masterPage

block content
    if (!user)

        h1 Login Page
        p.lead Say something worthwhile here.

        if(authenticationWasFail)
            h2.auth_fail Authentication failed. Try one more time

        br
        form(role='form', action="/app/login",method="post", class="login-form")
            .form-group
                input.form-control(type='text', name="username", placeholder='Enter Username', value="#{username}")
            .form-group
                input.form-control(type='password', name="password", placeholder='Password', value="#{password}")
            button.btn.btn-default(type='submit') Log in

    if (user)
        p You are currently logged in as #{user.name}
        a(href="/") Home

        br

        a(href="/app/logout") Logout

block scripts

