doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Timesheet - #{title}

        block styles
            link(href='/css/index.css', rel="stylesheet")

        script.
            var NODE_ENV = 'production';
    body

        div#auth

        block content
            #toolbox
            #placeHolder
            #page

        block foot
            #footer
                p
                    a(href="https://github.com/patgod85/timesheet" target="_blank")
                        img(src="/images/github.png" align="absmiddle")
                        |&nbsp;patgod85.timesheet

        block scripts
