doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Timesheet - #{title}

        block styles
            link(href='/css/index.css', rel="stylesheet")

        script.
            var NODE_ENV = 'production';
    body
        div#github
            a(href="https://github.com/patgod85/timesheet" target="_blank")
                img(src="/images/github.png")
        div#auth

        block content
            #toolbox
            #placeHolder
            #page

        block foot
            #footer
                p patgod85.timesheet

        block scripts
