<table class="maternity-leaves">
    <caption>Compensatory leaves (format: "YYYY-MM-DD")</caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Description</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody{childNodesElement}/>
    <tbody>
        <tr>
            <td colspan="4" class="aright">
                {addButton}
            </td>
        </tr>
    </tbody>
</table>